.leftBackButton {
  cursor: pointer;
}

.middle-header-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breaking-bad-title {
  margin-left: 1rem;
  font-size: 24px;
  font-weight: 700;
}

.sub-title {
  color: #18ca75;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
  grid-gap: 20px 50px;
  color: white;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 3%;
}
